<footer class="footer">
  <h4 class="p-3" data-aos="fade-up">Made By The <b>T</b>ech<b>G</b>eek's</h4>
  
  <p>Come connect with us</p>

  <a class="fab fa-facebook-f fa-2x" href="https://www.facebook.com/" ></a>
  <a class="fab fa-instagram fa-2x" href="https://www.instagram.com/"></a>
  <a class="fab fa-linkedin   fa-2x" href="https://in.linkedin.com/"></a>
  <a class="fab fa-github   fa-2x" href="https://github.com/fida-ur-rehman"></a>
  <p class="copy">Copyright © 2020 BlogWep</p>
</footer>
<script src="/scripts/scripts.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js" charset="utf-8"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

<script>
  AOS.init();
</script>

</body>
</html>
