<%- include("partials/header") -%>
<section class="main-section">
    <div class="container bg  p-5">
        <div class="text-center my-5">
        <img id="logo" class="mb-5" src="/images/PicsArt_05-22-09.14.03.png" alt="">
        <div class="about1 blogD">
            <p>A blogwep an idea that will make a better coder community, which will enhance the skill set of every developer and help them reach their goals!</p>
            <p>Users can contribute to the BLOG and QA section to showcase their knowledge and ask some question outside their domain and get answered by people who are excelling in it.</p>
        <p>t\This was the primary motive behind building this web app hope you'll always be a part of our community good luck ahead for a wonderful spectacular tech future.</p>
        </div>
    </div>
    <div class="py-5">
        <hr class="hr">
    </div>  
    <div>      
        <div class="my-5">
            <div class="text-center ">
                <h4>Tech Geeks</h4>
            </div>
            <div class="about1 blogD">
                 <p>We Shaikh Sharjeel and Fida-Ur-Rehman Khan have built this association where anyone can contribute to our builts and be a part of our association. come let's build a better tech world and help people to be a part of the tech universe.
                    come and lets code with us.</p>
            </div>
        </div>         
    </div>
    <div class="py-5">
        <hr class="hr">
    </div>
   
        <div class="row mt-5 mx-0">
            <div class="col-lg-6 col-sm-12">
                <div class="card mx-auto" style="max-width: 18rem">
                    <div class="card-body">
                        <div class="row px-3">
                            <div class="col-3 text-center">
                                <div class="row">
                                    <div class="mx-auto">
                                        <img class="cardImg mx-auto" src="/images/IMG_20200606_202453_161.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="nameCard">
                                    <div>Fida-Ur-Rehman</div>
                                    <div class="s">MERN Stack Developer</div>
                            </div>
                            </div>
                        </div> 
                        <div class="row connect px-3 pt-4">
                            <a class="fab fa-instagram" href="https://www.instagram.com/fidaurrehman_4455"></a>
                            <a class="fab fa-linkedin" href="https://www.linkedin.com/in/khan-fida-ur-rehman-834534190/"></a>
                            <a class="fab fa-github" href="https://github.com/fida-ur-rehman"></a>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 shar">
                <div class="card mx-auto" style="max-width: 18rem">
                    <div class="card-body">
                        <div class="row px-3">
                            <div class="col-3 text-center">
                                <div class="row">
                                    <div class="mx-auto">
                                        
                                        <img class="cardImg mx-auto" src="/images/54668506.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="nameCard">
                                    <div>Shaikh Sharjeel</div>
                                    <div class="s">MERN Stack Developer</div>
                            </div>
                            </div>
                        </div> 
                        <div class="row connect px-3 pt-4">
                            <a class="fab fa-facebook-f" href="https://www.facebook.com/sharjeel_sk_?r" ></a>
                            <a class="fab fa-instagram" href="https://www.instagram.com/sharjeel_sk_/"></a>
                            <a class="fab fa-linkedin" href="https://in.linkedin.com/in/sharjeel-shaikh-79038a174"></a>
                            <a class="fab fa-github" href="https://github.com/sharjeelsk"></a>
                          </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include("partials/footer")-%>